#guide-start {
  ul {
    list-style: disc !important;
    padding: 2rem;
  }

  h3 {
    font-family: 'Bourbon';
    margin-top: 1rem;
  }
}
#guide-intentions {
  ul {
    list-style-type: none;
    text-align: center;

    li {
      margin-top: 1rem;
    }

    li:before {
      content: '\2014';
      // position: absolute;
      // margin-left: -30px;
    }
  }
  strong {
    font-family: 'Bourbon';
    font-size: 1.6rem;
  }
}
